.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 10;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal__content.active {
  transform: scale(1);
}

.modal_button {
  color: white;
  background-color: rgb(7, 179, 7);
  border: 1px solid rgb(7, 179, 7)
}
.modal_button:hover {
  background-color: rgb(7, 179, 7);
  border: 1px solid rgb(7, 179, 7)
}
.modal_button:active {
  background-color: rgb(7, 179, 7);
  border: 1px solid rgb(7, 179, 7)
}

/* card */
/*
.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(7, 179, 7);
}

.prices {
  display: flex;
  justify-content: space-between;
}

.rub {
  font-weight: 700;
  color: rgb(7, 179, 7);
  font-size: 20px;
}

.name {
  margin-right: 300px;
}
*/
