.btn {
  margin-right: 10px;
  background-color: white;
  border: 1px solid rgb(7, 179, 7);
  padding: 10px;
  font-size: 18px;
  color: rgb(7, 179, 7);
  font-weight: 900;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.active {
  margin-right: 10px;
  background-color: rgb(7, 179, 7);
  border: 1px solid rgb(7, 179, 7);
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 900;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: rgb(7, 179, 7);
  transition: all 0.5s ease-in-out;
}
